.dashboard-options {
    background-color: #d9d9d9;
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding: 30px;
    margin-left: 360px;
    height: 100vh;
}

.AlertDialogOverlay {
    background-color: var(--black-a9);
    position: fixed;
    inset: 0;
    animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.AlertDialogContent {
    background-color: white;
    border-radius: 6px;
    box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    max-width: 500px;
    max-height: 85vh;
    padding: 25px;
    animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.AlertDialogContent:focus {
    outline: none;
}

.AlertDialogTitle {
    margin: 0 0 5px 0;
    color: var(--mauve-12);
    font-size: 20px;
    font-weight: 500;
}

.AlertDialogDescription {
    margin-bottom: 20px;
    color: var(--mauve-11);
    font-size: 18px;
    line-height: 1.5;
}

.Button-alert {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: 0 15px;
    font-size: 18px;
    line-height: 1;
    font-weight: 500;
    height: 35px;

}

.Button-alert.mauve {
    background-color: #374151;
    color: white;
}

.Button-alert.mauve:hover {
    background-color: #5c6575;
}

@keyframes overlayShow {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes contentShow {
    from {
        opacity: 0;
        transform: translate(-50%, -48%) scale(0.96);
    }

    to {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}

.approved-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.approved-list .approved-announcement {
    background-color: white;
    padding: 15px 15px 15px 10px;
    border-radius: 15px;
}

.approved-list .approved-announcement .name span {
    color: #838383;
}


.approved-list p {
    margin-bottom: 0;
}

.AvatarRoot-ann {
    display: inline-flex;
    align-items: center;
    justify-content: start;
    vertical-align: middle;
    margin: 0 10px;
    overflow: hidden;
    user-select: none;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    background-color: var(--black-a3);
}

.AvatarFallback-ann {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: #374151;
    font-size: 15px;
    line-height: 1;
    font-weight: 500;
}

.announcement-details {
    background-color: #d9d9d9;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-left: 360px;
    height: 100vh;
}

.announcement-details .header {
    background-color: rgb(255, 255, 255);
    padding: 20px 20px 15px 20px;
}

.announcement-details .header img {
    cursor: pointer;
}


.announcement-details .body {
    background-color: white;
    padding: 20px;
    font-size: 20px;
    height: auto;
    margin: 15px;
    border-radius: 5px;
}

.announcement-details .body .avatar {
    margin-top: 5px;
}

.announcement-details .body p {
    margin-bottom: 0;
}